**/*.*

/!build/*
/!install/*
/!installers/*

!/.git*
!/License*

!/.github/workflows/*.yml
!/scripts/*[.ps1]

# Project related
!/.clang-*
!/CMake*[.txt, .json]
!/vcpkg.json

# All Examples
!/examples/*/src/**/*[.cpp]
!/examples/*/tests/**/*[.cpp]
!/examples/CMakeLists.txt
